.todo__list {
  margin-bottom: 15px;
  li {
    position: relative;
    display: inline-flex;
    padding: 10px 12px 7px 7px;
    width: 185px;
    cursor: pointer;
    border: 4px;
    &.active {
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
      border-radius: 4px;
    }
    &.all-list {
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
      border-radius: 4px;
    }
    &.removable {
      span {
        font-weight: 400;
      }
    }

    &.removable:hover .remove_item{
      opacity: 0.1;
      transition: all 0.25s;
    }
    &.removable:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
    &.removable:active {
      background-color: rgba(255, 255, 255, 1);
    }
    i {
      margin-right: 8px;
    }
    .count__list {
      font-size: 13px;
      margin-left: 5px;
    }
    span {
      line-height: 19px;
      font-weight: 500;
      font-size: 16px;
      &.name--item {
        font-size: 14px;
        white-space: nowrap;
        overflow-x: hidden;
      }
      &.remove_item {
        position: absolute;
        opacity: 0;
        right: 14px;
        &:hover {
          opacity: 0.2 !important;
        }
        &:active {
          opacity: 0.4 !important;
        }
      }
    }
  }
}