
.todo__tasks-title {
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 20px;
  margin-bottom: 30px;
  &:hover svg{
    transform: scale(1);
  }
  span {
    font-weight: bold;
    font-size: 32px;
    color: #64C4ED;
    margin-right: 15px;
  }
  i {
    opacity: 0.18;
    cursor: pointer;
    transition: all .25s;
    &:hover {
      opacity: 0.3;
    }
    &:active {
      opacity: 0.5;
    }
    svg {
      transition: all 0.25s;
      transform: scale(0.0);
    }
  }
}