
.add-task__input {
  input {
    width: 100%;
    margin-bottom: 15px;
  }
  .err {
    color: crimson;
    margin-bottom: 15px;
    margin-top: -10px;
  }
  .inputError {
    border: 1px solid crimson;
  }
  .wrap__button {
    .button-add__task {
      background-color: #4DD599;
      color: #fff;
      padding: 9px 16px;
      margin-right: 10px;
      font-weight: 400;
    }
    .button-cancel {
      font-weight: 400;
      background-color: #F4F6F8;
      color: #9C9C9C;
      padding: 9px 20px;
    }
  }
}